<div ng-controller="dealsCtrl" class="accommodation_holder">

    
  <md-tabs md-dynamic-height md-border-bottom md-selected="currentSectionIndex">
    <md-tab label="one">
        <div class='md-padding' layout="row" layout-wrap ng-show="paginationBar">
        
        <md-button class="md-raised md-primary" ng-click="showNextForm($event)" style="height:10%">Add New Deal</md-button>
        
        
           <md-button class="md-raised md-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" style="height: 5%;">Previous</md-button><span id="pageNo" style="margin-top: 1%;font-weight: 800;">{{currentPage+1}}/{{numberOfPages()}}</span> <md-button class="md-raised md-primary" ng-disabled="currentPage >= users.length/pageSize - 1" ng-click="currentPage=currentPage+1" style="height: 5%;">Next </md-button>
       
                <label class="field_label" style="color: #00A1E4;margin-top: 1%;font-weight: 700;">&nbsp;&nbsp; Search Here:</label>
                    <md-input-container>
                        <input type="text" ng-model="searchs" class="form-control" style="padding: 6px;border: solid 1px #00A1E4;
    transition: box-shadow 0.3s, border 0.3s;width: 100%;">
                    </md-input-container>
          
            
        </div>
       
        
        <div class='md-padding' layout="row" layout-wrap>
            
             <loading></loading>
            
            <md-card class="ProfileId" style="background-color: #eeeeee;border-radius: 10px;height: 200px;" ng-repeat="user in users | filter:searchs | startFrom:currentPage*pageSize | limitTo:pageSize" id="{{$index}}">
                
                    <md-card-content>
                        <h2 style="text-align: center;">{{user.name}}</h2>
                        <p>User ID: {{user.user_id}}</p>
                        <p>Tel: {{user.mobile}}</p>
                        <div class="md-actions" layout="row" layout-align="end center">
                        <md-button ng-click="showEdit($event,user)">Edit</md-button>
                        <md-button ng-click="viewDriver($event,user)">View</md-button>
                        <md-button ng-click="deleteDriver($event,user,$index)">Delete</md-button> 
                        </div><div></div>
                    </md-card-content>
                    
                </md-card>
           
            </div>
        
            
        
    </md-tab>
    <md-tab label="two">
        <md-button class="md-raised md-primary" ng-click="showAllRide($event)" flex-md="100">Show All deals</md-button>
        <form name="userForm" ng-submit="addCategory($event)">
             <div layout="row" layout-wrap layout-sm="column">
                  <div flex="32" layout-padding layout-margin class="poi_columns">
            <label class="field_label">Campaign Name</label>
            <md-input-container>
				<label>Campaign Name</label>
				<input type="text" ng-model="deals.campaignName" required/>
			</md-input-container>
		
           
<!--
			<div layout="row">
                <label class="field_label">Start Date</label>
          <md-input-container>
        <input type="text" start-date-calendar="" ng-model="deals.startDate" class="form-control" />
          </md-input-container>
       
          <label class="field_label">End Date</label>
      <md-input-container>
        <input type="text" end-date-calendar="" ng-model="deals.endDate" class="form-control" />
          </md-input-container>  
			</div>
-->
                      
                <label class="field_label">Start Date</label>
          <md-input-container>
        <input type="text" start-date-calendar="" ng-model="deals.startDate" class="form-control" />
          </md-input-container>
       
          <label class="field_label">End Date</label>
      <md-input-container>
        <input type="text" end-date-calendar="" ng-model="deals.endDate" class="form-control" />
          </md-input-container> 
            
             <label class="field_label">Deal Type</label>
                <md-input-container>
                    <md-select placeholder="Select Deal Type" ng-model="deals.dealType" ng-required="true">
                    <md-option value="1">Big Deal</md-option>
<!--
                    <md-option value="2">Top Deal</md-option>
                    <md-option value="3">Never Miss Deal</md-option>
-->
                </md-select>
                </md-input-container> 
            
            <label class="field_label">Deals Description</label>
        <label class="gray_text small_font" layout-margin>Add Deals Description</label>
        <textarea name="Description" id="" cols="30" rows="5" class="description_box" ng-model="deals.dealDescription"></textarea>
                 </div>
                 
                  <div flex="32" layout-padding layout-margin class="poi_columns">
                      
                       <label class="field_label">Select Category</label>
        <md-input-container>
        <select name="" id="" ng-model="deals.category" ng-change="displaysubcategory()" ng-options="s4.category_id as s4.category_name for s4 in category" required>
                  <option value="">Select Category</option>
                </select>
        </md-input-container>
          
        <label class="field_label">Select Sub Category</label>
        <md-input-container>
        <select name="" id="" ng-model="deals.subcategory" ng-change="getBrands()" ng-options="s4.subcatid as s4.subcatname for s4 in subCategory" required>
                  <option value="">Select Sub Category</option>
                </select>
        </md-input-container>
            
          <label class="field_label">Select Brand</label>  
         <md-input-container>
        <select name="" id="" ng-model="deals.brand" ng-change="getproduct()" ng-options="s4.brand_id as s4.brand_name for s4 in brand" required>
                  <option value="">Select Brand</option>
                </select>
        </md-input-container>
            
            <label class="field_label">Select Product</label> 
            <md-input-container>
                <select name="" id="" ng-model="deals.product" ng-options="s4.product_id as s4.product_name for s4 in product" required>
                  <option value="">Select Product</option>
                </select>
        </md-input-container>
                      
                       <md-input-container>
          <label>Price Information</label>
          <input type="number" maxlength="20" name="hours" ng-model="deals.price" ng-required="true"/>
        </md-input-container>
                      
                 </div>
                 
                 <div flex="32" layout-padding layout-margin class="poi_columns">
                      <label class="field_label">Offer Image</label>
        <label class="gray_text small_font" layout-margin>Dimension: 600 x 250px</label>
        <div layout="row" layout-margin>
          <md-button flex="35" class="md-raised browse_slider_btn">
            <!--<input type="file" value="Browse Image" onchange="angular.element(this).scope().setSliderImage(this)"></input>-->
            <input type="file" onchange="angular.element(this).scope().setSliderImage(this)"/>Browse Image</md-button>
          <md-button class="browse_slider_btn" style="background-color: #CDCCCC;">
            <input type="file" multiple value="Browse Image" onchange="angular.element(this).scope().setSliderImage(this)"></input>Add Multiple Images</md-button>
        </div>
        <div class="images_container">
          <table class="full_width">
            <tbody>
              <tr ng-repeat="image in sliderImages">
                <td>
                  <div class="display_inline_blk thumbnail" style="background:url({{image.srcUrl}}) no-repeat center">
                    <div class="hide remove_thumb_btn" ng-click="removeSliderImage($index)"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>  <br>
                 
             
                 <label class="field_label">Thumbnail</label>
        <label class="gray_text small_font" layout-margin>Dimension: 250 x 250px</label>

        <div class="thumbnail_container" layout-margin>
          <md-button flex="40" class="md-raised browse_slider_btn">
            <input onchange="angular.element(this).scope().setThumbnail(this)" ng-model="thumbnail.fileName" type="file" value="Browse Image" accept="image/*">Browse Image</input>
          </md-button>
          <div class="display_inline_blk thumbnail" style="background:url({{thumbnail.srcUrl}}) no-repeat center">
            <div class="hide remove_thumb_btn" ng-click="removeThumbnail()"></div>
          </div>
        </div>
            
            <br>
                     <md-button class="md-raised md-primary full_width no_margin">SUBMIT</md-button>
                 </div>
                 
                 
            </div>
      </form> 
    </md-tab>
    
  </md-tabs>
</div>

